* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f6f8f9;
}

/* APP HEADER */
header {
    background-color: #ffffff;
    padding: 10px 20px;
}

.app-title {
    display: inline-block;
    vertical-align: middle;
}

.app-logo {
    vertical-align: middle;
}
/* APP HEADER */

/* MAIN */
.circle {
    display: inline-block;
    height: 20px;
    width: 20px ;
    border-radius: 100%;
    border: 1px solid black;
    text-align: center;
    line-height: 20px;
    color:#64c0a9;
}

.circle-done {
    color: #64c0a9;
    border-color: #64c0a9;
}

.circle-danger {
    color: #FF0000;
    border-color: #FF0000;
}

.tag {
    display: inline-block;
    background-color: red;
    color: #ffffff;
    padding:6px 10px;
    border-radius:16px;
}

.tag-blue {
    background-color: #45abea;
}
/*/ MAIN */
