* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #f6f8f9;
}

/* APP HEADER */
header {
    background-color: #ffffff;
    padding: 10px 20px;
}

.app-title {
    display: inline-block;
    vertical-align: middle;
}

.app-logo {
    vertical-align: middle;
}
/* APP HEADER */

/* MAIN */
main {
    margin-top: 40px;
}

/* buttons */
.top-section {
    padding: 15px 50px 6px;
    border-bottom:2px solid #f6f8f9;
}

.button {
    color: #ffffff;
    background-color: #45abea;
    padding: 8px 10px;
    border-radius:5px;
    border: none;
    font-weight: bold;
}

.button-blue {
    color: #ffffff;
    background-color: #45abea;
    border: none;
    
}

.button-white {
    color: lightgray;
    background-color: #ffffff;
    border:2px solid lightgray;
}
/*/ buttons */

/* bottom section */


.bottom-section {
    padding: 40px 50px;
}

.subtitle {
    display: inline-block;
    margin-left: 10px;
}

.line {
    margin-top: 12px;
    margin-bottom: 30px;
}

.circle {
    display: inline-block;
    height: 20px;
    width: 20px ;
    border-radius: 100%;
    border: 1px solid black;
    text-align: center;
    line-height: 20px;
    color:#64c0a9;
}

.circle-done {
    color: #64c0a9;
    border-color: #64c0a9;
}

.circle-danger {
    color: #FF0000;
    border-color: #FF0000;
}

.tag {
    font-size: 12px;
    display: inline-block;
    background-color: red;
    color: #ffffff;
    padding:6px 10px;
    border-radius:16px;
}

.tag-blue {
    background-color: #45abea;
}

.tag-purple {
    background-color: #9c72e4;
}

.tag-aqua{
    background-color: #79c8b5;
}

.tag-orange {
    background-color: #f29e33;
}

.tag-pink {
    background-color: #db6fa9;
}

.tag-green {
    background-color: #b0c926;
}


/* /bottom section */

/*/ MAIN */
